.housings {
  padding: 0px 100px;
  max-height: 800px;
}
.housings__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.cabin {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #3cc2b9;
  margin: 25px;
  padding-bottom: 25px;
}
.cabin__image {
  height: 140px;
  width: 200px;
  object-fit: contain;
}
